/* start global rules */

body {
    font-family: "helveticaneuelt-arabic-55-roman";
    overflow-x: hidden;
    text-align: right !important;
}

$secColor: #ffaa00;

/* start global vars */

.upper-nav {
    color: #fff;
    padding: 20px;
    position: fixed;
    background-color: rgba(162, 172, 174, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    text-align: left !important;
    transition: 0.3s all ease-in-out;
    padding: 15px;
    z-index: 3;
}

@media (max-width: 991px) {
    .upper-nav {
        display: none !important;
    }
}

.upper-nav span {
    padding: 0 15px 0;
}

.upper-nav span i {
    margin-right: 7px;
}

.upper-nav .brands {
    border-right: 1px solid #fff;
}

.upper-nav .brands a {
    color: #fff;
    text-decoration: none;
}

.upper-nav .brands a i {
    margin-right: 10px;
    font-size: 18px;
    transition: 0.3s all ease-in-out;
}

.upper-nav .brands a .fa-twitter:hover {
    color: #1da1f2;
}

.upper-nav .brands a .fa-facebook-f:hover {
    color: #3b5998;
}

.upper-nav .brands a .fa-youtube:hover {
    color: #ff0000;
}

.upper-nav.background {
    background-color: #a2acae;
}

@import "./external.scss";
// nav
.navbar {
    position: fixed;
    width: 100%;
    top: 54px;
}

.slider {
    .row {
        .col {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .arrow-down {
        z-index: 11111;
        position: absolute;
        bottom: 3%;
        width: 40px;
        border-radius: 50%;
        background-color: #ccc !important;
        cursor: pointer;
    }
}

.navbar-nav {
    @media (max-width: 991px) {
        padding-right: 0;
    }
}


/* start whats on  */

.whats-on {
    padding: 50px 0;
}

.whats-on .whats-intro {
    width: 70%;
    margin: 15px auto 25px;
    color: #838e8d;
}

.whats-on .whats-img {
    width: 100%;
    height: 200px;
    position: relative;
}

.whats-on .whats-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.whats-on .whats-img .whats-expand {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 87, 166, 0.7);
    border-radius: 0 5px 0 0;
    transition: 0.3s;
    color: #fff;
}

.whats-on .whats-img .whats-expand p {
    margin: 0;
}

.whats-on .whats-img .whats-expand:hover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.whats-desc {
    margin-top: 15px;
}

.whats-desc h4 {
    color: #2c3e50;
    font-size: 20px;
    font-weight: normal;
}

.whats-desc p {
    color: #8397a3;
    line-height: 1.5;
}


/* end whats on */


/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4057a6;
    padding: 20px;
    color: #fff;
    p {
        margin: 0;
        font-weight: bold;
    }
    .brands-p {
        margin-top: 10px;
        margin: 10px 5px 0;
        i {
            margin: 0 5px;
        }
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff !important;
    margin: 0 !important;
}

.breadcrumb-item.active {
    color: $secColor !important;
    font-size: 13px !important;
    font-weight: bold;
}

.bread-holder {
    background-color: #293070;
    margin-bottom: 40px !important;
    .breadcrumb {
        margin: 0 15px;
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
        .breadcrumb-item {
            a {
                color: #fff;
                font-size: 13px !important;
                font-weight: bold !important;
            }
        }
    }
}

.canadian {
    padding: 140px 0 50px 0;
    text-align: center;
    background-color: #f5f5f5;
    h2 {
        margin-bottom: 24px;
    }
    .content {
        padding: 25px 15px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 24px;
        align-items: center;
        @media(max-width: 991px) {
            flex-direction: column;
        }
        i {
            flex-basis: 6%;
            max-width: 100%;
            background-color: #293070;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            border-radius: 50%;
            margin-left: 15px;
            margin-bottom: 0;
            height: 70px;
            line-height: 70px;
            @media(max-width: 991px) {
                max-width: fit-content;
                padding: 25px;
                margin-bottom: 16px;
                margin-left: auto;
            }
        }
        .details {
            flex-basis: 80%;
            text-align: right;
            ul {
                list-style: decimal;
                li {
                    margin: 10px 0;
                    font-weight: bold;
                }
            }
            h3 {
                font-weight: bold;
                margin-bottom: 16px;
                @media(max-width: 767px) {
                    font-size: 24px;
                }
            }
            p {
                color: #333
            }
        }
    }
    .board-intro {
        text-align: right;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
        margin-bottom: 24px;
        h3 {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
    .panel-heading {
        .panel-title {
            justify-content: space-between;
            i {
                color: #fff;
                font-size: 17px;
            }
        }
    }
    .panel-body {
        text-align: right;
        text-align: right;
        background: #fff;
        margin: 0 20px 20px;
        padding: 15px;
        border-radius: 5px;
    }
}

.for-more {
    padding: 15px;
    /* background: #ccc; */
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    font-weight: bold;
    p {
        margin: 0;
    }
}

.panel-group.about-us,
.brand {
    h2 {
        @media(max-width: 767px) {
            font-size: 24px !important;
        }
    }
}

// specialities
.specialities {
    .col-lg-3 {
        margin-bottom: 24px;
        .whats-desc {
            background-color: #fff;
            padding: 10px;
            border-radius: 0 0 5px 5px;
            margin: 0;
            h4 {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 16px;
                margin-top: 10px;
            }
            p {
                font-size: 13px;
                line-height: 23px;
            }
        }
    }
}

.alert-warning {
    @media(max-width: 465px) {
        font-size: 10px;
        display: block;
        margin: 0;
        font-weight: bold;
    }
}

.uni-holder {
    text-align: right;
    .uni {
        .main-i {
            display: block;
            text-align: center;
            width: 60px;
            height: 60px;
            background: #293070;
            line-height: 60px;
            color: #fff;
            border-radius: 50%;
            margin-bottom: 10px
        }
        .cost {
            margin-top: 30px;
            p {
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 10px;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    margin: 10px 0
                }
            }
        }
    }
}

.Whatsapp {
    position: fixed;
    left: 2%;
    bottom: 4%;
    background: #20b70e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    &:hover {
        transform: scale(1.01);
        color: #fff
    }
}

.animated {
    animation: crescendo 1.5s alternate infinite ease-in;
}

@keyframes crescendo {
    0% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.more {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.avali-uni {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 24px;
    margin-top: 24px;
    .uni {
        padding: 10px 15px;
        background: #293070;
        align-items: center;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 0 !important;
    }
    ul.collapseed {
        display: none;
    }
    ul {
        li {
            margin: 12px 0;
            font-weight: bold;
            padding: 0 10px;
        }
    }
}

.toggle-list {
    cursor: pointer;
}

.modal {
    .modal-header {
        flex-direction: row-reverse;
    }
    .modal-body {
        text-align: center;
        padding: 15px !important;
    }
    .modal-footer {
        flex-direction: row-reverse;
    }
    .modal-dialog {
        max-width: 25%;
        width: 25%;
    }
    .close {
        background-color: #f00 !important;
        border: 1px solid #ccc !important;
        outline: none !important;
        border-radius: 5px !important;
        position: absolute !important;
        top: 35px !important;
        opacity: 1 !important;
        color: #fff !important;
        left: 17px !important;
        padding: 0 !important;
        padding: 5px 0px 10px !important;
        border: none !important;
    }
}

.breadcrumb-item.active {
    i {
        margin-left: 7px !important;
    }
}

.card.master {
    @media(max-width: 991px) {
        width: 95% !important;
    }
}

@media(max-width:430px) {
    .uni,
    .not-uni {
        font-size: 13px;
    }
}

.modal-backdrop {
    z-index: 1;
}